{% extends 'base.html' %}

{% block content %}
  <h1>{{ lead.user_name }}</h1>
  <ul>
    <li><strong>Email Address:</strong> {{ lead.email_address }}</li>
    <li><strong>Company:</strong> {{ lead.company }}</li>
    <li><strong>Website:</strong> {{ lead.website }}</li>
    <li><strong>Date Added:</strong> {{ lead.date_added }}</li>
  </ul>
  <a href="{% url 'lead_update' lead.id %}">Edit</a> |
  <a href="{% url 'lead_delete' lead.id %}">Delete</a>
  <p>
    <hr>
    <a href="{% url 'account_logout' %}">logout</a>
  </p>
{% endblock %}
