{% extends 'base.html' %}

{% block content %}
  <h1>Confirm delete</h1>
  <p>Are you sure you want to delete this lead?</p>
  <p><strong>{{ campaign.name }} - {{ campaign.message }}</strong></p>
  <form action="{% url 'campaign_delete' campaign.id %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="Yes, delete" class="btn btn-danger">
    <a href="{% url 'campaign_list' %}" class="btn btn-secondary">Cancel</a>
  </form>

  <p>
    <hr>
    <a href="{% url 'account_logout' %}">logout</a>
  </p>
{% endblock %}
